.Cabeçalho {
    background: center / cover url('https://img.freepik.com/vetores-gratis/degrade-de-fundo-azul_23-2149330355.jpg');
    min-height: 90px;
    min-width: 99.5%;
    font: "Open Sans", sans-serif;
    color: #ff0083;
    text-shadow: #000 2px 2px 0.2rem;
    border: 3px solid rgb(47, 50, 221);
    position: fixed;
    top: 0px;
}
.Cadastrar {
    display: inline-block;
    font-size: 50px;
    position: absolute;
    background-color: #89e2f8;
    border: 5px solid #0a5a8f;
    overflow: hidden;
    transition-duration: 0.3s;
    cursor: pointer;
    right: 270px;
    top: 10px;
}
.Seguir {
    display: inline-block;
    font-size: 50px;
    position: absolute;
    background-color: #89e2f8;
    border: 5px solid #0a5a8f;
    overflow: hidden;
    transition-duration: 0.3s;
    cursor: pointer;
    right: 100px;
    top: 10px;
}
.Eng {
    display: inline-block;
    position: absolute;
    right: 0px;
}
.Eng img {
    max-height: 85px;
    visibility: visible;
}
.sett {
    display: inline-block;
    visibility: hidden;
    cursor: pointer;
    z-index: 2;
}
.Eng a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 15px;
}
#Cog {
    transition-duration: 0.5s;
}
.drop {
    display: none;
    position: absolute;
    background-color: rgb(121, 219, 226);
    right: 0px;
    min-width: 100px;
    box-shadow: 2px 2px 5px #000;
    z-index: 1;
}
.show {
    display:block;
}
.drop a:hover {
    background-color: #72aff5;
}
body {
    min-width: 99%;
    min-height: 100%;
    margin: 0 auto;
    background-color:#73ecec;
    background: center / cover url(FeedBackgif.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}
button a:visited {
    color: blue;
}
.Cadastrar:hover {
    background-color: #a0fadc;
    border-color: #6a33ec;
    color: #6a33ec;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.Cadastrar:active {
    color: #ca1140;
    border-color: #ca1140;
}
.Seguir:hover {
    background-color: #a0fadc;
    border-color: #6a33ec;
    color: #6a33ec;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.Seguir:active {
    color: #ca1140;
    border-color: #ca1140;
}
.Voltar {
    display: inline-block;
    height: 80px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 20px;
}
.Voltar:hover {
    transition-duration: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    color: #39caee;
    text-shadow: 1px 1px 1px #000;
}
.cds {
    border: 3px solid #5016f1;
    margin: 0 auto;
    max-width: 575px;
    margin-top: 120px;
    background-image: url(Formback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
#feed {
    transition-duration: 0.5s;
}
.cds:hover {
    box-shadow: 0 8px 16px 8px rgba(10, 30, 212, 0.2), 0 6px 20px 0 rgba(23, 163, 182, 0.19);
}
.str img {
    height: 80px;
    visibility: visible;
}
.str button {
    visibility: hidden;
    cursor: pointer;
}
.str {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.rt {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #0861aa;
    margin-bottom: 60px;
    font-size: 25px;
}
.Linha {
    max-width: 525px;
    height: 5px;
    background-color: #004ef5;
    border-color: #73ecec;
    margin-top: 70px;
    margin-bottom: 60px;
    transition-duration: 0.3s;
}
.evr {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#enviar {
    font-size: 45px;
    cursor: pointer;
    background-color: #5ec6e6;
    border-color: #0a5a8f;
    width: 170px;
    border-radius: 10px;
}
#enviar:hover {
    background-color: #a0fadc;
    border-color: #6a33ec;
    color: #6a33ec;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
}
.res {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#reset {
    font-size: 25px;
    cursor: pointer;
    background-color: #5ec6e6;
    border-color: #0a5a8f;
    width: 150px;
    border-radius: 10px;
}
#reset:hover {
    background-color: #a0fadc;
    border-color: #6a33ec;
    color: #6a33ec;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
}
@media screen and (max-width:1550px) {
    .Linha {
        width: 325px;
    }
}
@media screen and (max-width:1600px) {
    .Linha {
        width: 425px;
    }
}
@media screen and (max-width:770px) {
    .Seguir {
        font-size: 25px;
        top: 23px;
    }
    .Cadastrar {
        font-size: 25px;
        width: 170px;
        right: 200px;
        top: 23px;
    }
    .Eng, .Eng img{
        height: 75px;
        top: 5px;
    }
    .drop {
        top: 88px;
    }
}
@media screen and (max-width:630px) {
    .cds {
        max-width: none;
        margin-top: 90px;
        border-radius: 0px;
        padding-bottom: 131px;
    }
    body {
        min-height: 100px ;
    }
    .Seguir {
        right: 90px;
    }
    .Cadastrar {
        right: 190px;
    }
    .Eng, .Eng img {
        right: 0px;
        top: 5px;
    }
}
@media screen and (max-width:340px) and (min-width:0px) {
    #enviar {
        width: 200px;
    }
    h1 {
        font-size: 50px;
    }
    #cadastrar {
        width: 200px;
    }
}
@media screen and (max-width:360px) {
    .Voltar {
        height: 50px;
        top: 18px;
    }
    .Cadastrar {
        font-size: 20px;
        width: 140px;
        top: 28px;
    }
    .Eng, .Eng img {
        height: 70px;
        top: 7px;
    }
}
@media screen and (max-width:470px) {
    .Cadastrar {
        font-size: 20px;
        width: 140px;
        top: 5px;
        right: 80px;
    }
    .Seguir {
        font-size: 20px;
        right: 80px;
        width: 140px;
        top: 45px;
    }
    .str img {
        height: 40px;
    }
    .Linha {
        width: 250px;
    }
}
@media screen and (max-width:1050px) and (min-width:630px) {
    body {
        margin-bottom: 100px;
    }
}