
.img1{
   
margin: 90px;
padding: 90px;
}

h1 {
    color: rgb(4, 83, 255);
}
h2 {
    color: rgb(4, 83, 255);

}
p{
    color: rgb(106, 179, 252);

}

body{
background: image(img1);

}































